* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* GENERICS */

.row {
  margin: 0 auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}
.body {
  max-width: 100vw;
}
img {
  height: 100%;
  width: 100%;
}
header{
  height: calc(100vh - 80px);
}

/*

NAV

*/
nav {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%);
  display: flex;
  height: 80px;
  position: relative;
}
.nav__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1850px;
  padding: 0 24px;
  width: 100%;
}
.logo {
  width: 160px;
}
.nav__list{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  
}
.nav__link{
  color: #171a20;
  font-size: 14px;
  font-weight: 500;
}
/*

LANDINGPAGE

*/


/*
CAROUSEL
*/


.item {
 width: 100vw;
 height: 100%;
}

.pic--one {
  background-image: url(https://cdn.wallpapersafari.com/97/50/eRwDMy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.pic--two{
  background-image: url(https://cdn.wallpapersafari.com/97/50/eRwDMy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.alice-carousel__wrapper {
  height: calc(100vh - 80px) !important;
  width: 100vw !important;
}
.alice-carousel {
  height: calc(100vh - 80px) !important;
  width: 100vw !important;
}
.alice-carousel__dots {
  position: relative;
  top: -100px;
  left: 50%;
}
.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}
.alice-carousel__dots-item {
  width: 8px !important;
  height: 8px !important;
  transition: all 300ms ease;
}
.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active{
  background-color: rgb(255, 255, 255) !important;
}
.alice-carousel__dots-item:not(.__custom){
  background-color: rgba(255, 255, 255, 0.205) !important;
  

}